# Environment variables
NODE_ENV=development

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/fikir_agency?schema=public"

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-super-secret-key-change-this-in-production

# Admin Default Credentials
ADMIN_EMAIL=admin@fikir.agency
ADMIN_PASSWORD=Admin123!
